span {
  font-size: 40px;
}

//.dark-mode {
//  background-color: #1a1919;
//  color: #ec0505;
////  height: 100%;
////  transition: background-color 0.25s ease-in-out;
//}
////
//.light-mode {
//  background-color: #fff;
//  color: #01c001;
////  height: 100%;
////  transition: background-color 0.25s ease-in-out;
//}

.theme__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  display: flex;
  position: relative;
}

.switch .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .icons-box {
  background-color: #19a2c1;
}

input:focus + .icons-box {
  box-shadow: 0 0 1px #2196f3;
}



.switch-input:checked + .icons-box > .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round:before {
  border-radius: 50%;
}

.icons-box{
  position: relative;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background: #ccc;
  transition: 0.4s;
}

.switch-general {
  display: flex;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}
.night {
  color: #ff9100;
  left: 10%;
}

.sun {
  color: yellow;
  right: 10%;
}
