.about {
  margin: 90px 0 120px 0;

  // .about__content
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 30px;
  }

  // .about__description
  &__description {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    & p {
      max-width: 600px;
      margin-bottom: 50px;
    }
  }
}