.progress {
  background-color: #F5D6AB;
  border-radius: 5px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #8B4136, #C66C49);
  box-shadow: 0 3px 3px -5px #F5D6AB, 0 2px 5px #F5D6AB;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}