.projects {
  margin: 90px 0 120px 0;
  &__title {
    margin-bottom: 55px;
  }
}

@media(max-width: 890px) {
  .projects {
    margin: 60px 0 90px 0;
  }
}

@media(max-width: 480px) {
  .projects {
    margin: 30px 0 60px 0;
  }
}
