@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

    $minWidth: 320px;
    $maxWidth: 1070px;
    $maxWidthContainer: 1100px;
    $mainColor: #333333;
    $fontFamily: 'Libre Franklin', sans-serif;
    $fontSize: 20px;

#root {
    width: 100%;
    height: 100%;
}

body {
    color: $mainColor;
    font-family: $fontFamily;
    font-size: $fontSize;
}

.container {
    max-width: $maxWidthContainer;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.main-img{
    object-fit: cover;
    & img {
        border-radius: 10px;
        width: 240px;
        height: 300px;
    }
}

.custom-button {
    padding: 8px 25px !important;
    background: #F5D6AB !important;
    color: #C66C49 !important;
    font-size: 18px !important;
    border-radius: 5px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
    transition: all 0.2s linear !important;
    &:hover {
        background: #8B4136 !important;
        color: #F5D6AB !important;
    }
}

.btn-dark {
    background: #7395AE !important;
    color: #fff !important;
    box-shadow: 0 8px 12px #1d5d83 !important;
    &:hover {
        background: #1d5d83 !important;
        color: #fff !important;
        box-shadow: 0 5px 10px #7395AE !important;
    }
}

.dark {
    background: rgba(97, 97, 98, 0.89);
    color: #fff;
    & > * h3 {
        color: #fff;
    }
}