.header {
  height: 100vh;
  //width: 100vw;
  background-blend-mode: multiply;
  color: #fff;
  position: relative;
  &__content a{
    color: #fff;
    text-decoration: underline;
  }

  &__title {
    line-height: 78px;
    font-size: 4.9rem;
    margin-bottom: 26px;
    & span {
      font-weight: 700;
      font-size: 4.9rem;
    }
  }

  &__subtitle {
    line-height: 29px;
    font-size: 1.9rem;
    margin-bottom: 120px;
  }

  &__link {
    line-height: 22px;
    text-decoration: underline;
    font-size: 1.4rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 150px 0;
  &__logo {
    line-height: 29px;
    font-size: 1.9rem;
    font-weight: 700;
  }

  &__themeMode {
  }
}

.center{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll {
  animation: animateHeight 1.4s linear infinite;
}

#circle--shape{
  animation: animateShape 1.4s ease-in-out infinite;
}


@keyframes animateShape{
  50% {
    cy: 80;
    opacity: .1;
  }
}

@keyframes animateHeight {
70% {
  height: 110px
}
}

@media (max-width: 480px) {
  .header {

    &__content a{
      color: #fff;
      text-decoration: underline;
    }

    &__title {
      line-height: 78px;
      font-size: 3.9rem;
      margin-bottom: 26px;
      & span {
        font-weight: 700;
        font-size: 3.9rem;
      }
    }

    &__subtitle {
      line-height: 29px;
      font-size: 1.2rem;
      margin-bottom: 120px;
    }

    &__link {
      line-height: 22px;
      text-decoration: underline;
      font-size: 1rem;
    }
  }

  .nav {
    padding: 20px 0 140px 0;
  }
}