//.container-slider {
//  //max-width: 700px;
//  height: 500px;
//  padding: 15px;
//  //margin: 100px auto 0;
//  position: relative;
//  overflow: hidden;
//  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
//}
//@media screen and (max-width: 700px){
//  .container-slider {
//    margin: 100px 10px 0;
//  }
//}
//.slide {
//  //display: flex;
//  //justify-content: space-between;
//  gap: 20px;
//  width: 100%;
//  //padding: 0 15px;
//  //height: 100%;
//  position: absolute;
//  opacity: 0;
//  transition: opacity ease-in-out 0.4s;
//}


//

//
//.slide img {
//  width: 550px;
//  height: 350px;
//  object-fit: cover;
//}
//.active-anim {
//  opacity: 1;
//}
//

//
//.btn-slide {
//  width: 60px;
//  height: 60px;
//  border-radius: 50%;
//  background: #f1f1f1;
//  border: 1px solid rgba(34, 34, 34, 0.287);
//  position: absolute;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  cursor: pointer;
//}
//
//.btn-slide img {
//  width: 25px;
//  height: 25px;
//  pointer-events: none;
//}
//.prev {
//  top: 50%;
//  left: 20px;
//  transform: translateY(-60%);
//}
//.next {
//  top: 50%;
//  right: 20px;
//  transform: translateY(-60%);
//}
//
//
//.container-dots {
//  position: absolute;
//  bottom: 10px;
//  left: 50%;
//  transform: translateX(-50%);
//  display: flex;
//}
//.dot {
//  width: 20px;
//  height: 20px;
//  border-radius: 50%;
//  border: 3px solid #f1f1f1;
//  margin: 0 5px;
//  background: #f1f1f1;
//}
//.dot.active {
//  background: rgb(32, 32, 32);
//}


.slider {
    height: 500px;
    padding: 15px;
    background-color: #FFFAF2;
    position: relative;
    justify-content: flex-start;
    align-items: baseline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slider:before {
  z-index: -1;
}

.image-item {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  bottom: 4%;
  left: 90px;
  font-size: 3rem;
  color: #000;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  transform: translate(0, -50%)
}

.left-arrow {
  position: absolute;
  bottom: 4%;
  left: 30px;
  font-size: 3rem;
  color: #000;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  transform: translate(0, -50%)
}

.slider__content {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.slider__box-images img{
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.slider__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
}

.slider__description {
  max-width: 300px;
  white-space: normal;
  font-size: 18px;
  line-height: 30px;
  & p {
    margin-bottom: 50px;
  }
}

.slider__button {
  font-size: 15px !important;
}
